\#*
*~
.#*
.DS_Store
.idea
.project
.sass-cache
coverage
Gemfile.lock
tmp
nbproject
pkg
*.swp
spec/dummy
.bundle/
log/*.log
spec/test_app/db/*.sqlite3
spec/test_app/db/schema.rb
spec/test_app/db/schema_common.rb
spec/test_app/db/migrate/
spec/test_app/config/initializers/nemo_spree_core.rb
spec/test_app/log/*.log
spec/test_app/tmp/
spec/test_app/.sass-cache
spec/test_app/db/seeds.rb
results.xml
spec/test_app/public/spree/
.ruby-gemset
